<nav class="nav-menu">
    <ul>
        <li>
            <NavLink href="" Match="NavLinkMatch.All" class="nav-link" ActiveClass="nav-link-active">
                <span class="nav-icon">&#9632;</span> Dashboard
            </NavLink>
        </li>
        <li>
            <NavLink href="create-watch" class="nav-link" ActiveClass="nav-link-active">
                <span class="nav-icon">+</span> Create Watch
            </NavLink>
        </li>
        <li>
            <NavLink href="watches" class="nav-link" ActiveClass="nav-link-active">
                <span class="nav-icon">&#9673;</span> Watches
            </NavLink>
        </li>
        <li>
            <NavLink href="transactions" class="nav-link" ActiveClass="nav-link-active">
                <span class="nav-icon">$</span> Transactions
            </NavLink>
        </li>
    </ul>
</nav>
